@import url(./style.css);

header {
    /* background-color: var(--fifth-color); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    .row {
        padding-block: 15px;
        gap: 15px;
    }

    .logocol {
        margin: auto 0 !important;
        width: fit-content;

        a {
            line-height: 0;
        }
    }

    img {
        width: 150px;
    }

    #on {
        margin: auto 0 !important;
        background-color: var(--fourth-color);
        padding: 12px 13px;
        border-radius: 10px;
        font-size: 22px;
    }

    nav {
        flex: 1;
        margin: auto 0;
    }

    ul {
        display: flex;
        justify-content: end;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            color: var(--fourth-color);
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding: 2px 5px 5px 5px;
        }
    }

    nav ul li a.active,
    a:hover {
        color: var(--secondary-color) !important;
        border-color: var(--secondary-color);
    }

    #off {
        color: var(--fourth-color);
    }
}

form {
    ::placeholder {
        color: #676767;
        font-size: 15px;
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }
}

.banner {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url(../images/MainBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;

    p {
        color: var(--fourth-color);
        font-size: 18px;
        font-weight: 700;
    }

    h1,
    p {
        text-shadow: 0 3px 5px rgba(20, 20, 20, 0.6);
    }

    .fa-check {
        color: red;
    }
}

.contentonly {
    li {
        line-height: 1.5;
        margin-left: 40px;
    }

    hr {
        margin-block: 10px;
    }
}

footer {
    background-color: var(--fifth-color);

    h4,
    i {
        color: var(--fourth-color);
    }

    .foot {
        border-top: 1px solid var(--primary-color);
        background-color: var(--fifth-color);
        text-align: center;
        padding-block: 15px;

        p {
            color: #fff;
        }
    }

    img {
        width: 175px;
    }
}

.floatwp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    i {
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.3);
        font-size: 35px;
        padding: 5px;
        border-radius: 100%;
        background-color: #01BF01;
        padding: 15px 18px;
        color: var(--fourth-color);
    }
}

.usps {
    text-align: center;

    .col {
        padding: 30px;
        border-radius: 2px;
        border: 1.5px solid var(--primary-color);
    }

    .col:first-child {
        border-right: 0;
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        h2 {
            color: var(--fourth-color);
text-align: left;
        }
    }

    img {
        width: 75px;
        margin-bottom: 15px;
    }
}

.course {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .Ccard {
        padding: 20px 30px;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .chead {
        width: fit-content;
        border-bottom: 4px solid var(--secondary-color);
        color: var(--primary-color);
    }

    .grid {
        gap: 20px;
    }

    .fa-1,
    .fa-2,
    .fa-3,
    .fa-4 {
        color: #fff;
        padding: 10px 15px;
        border-radius: 100%;
        background-color: var(--fifth-color);
    }

    p {
        line-height: 1.7;
    }
}

.whojoin {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/Hexagon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-block: 1px solid var(--primary-color);

    .column {
        margin: auto 0;
    }

    .flex {
        border-radius: 5px;
        background-color: var(--primary-color);

        p:last-child {
            padding: 7px 15px;
        }
    }

    .grid {
        gap: 10px;
    }

    i {
        background-color: var(--secondary-color);
        color: var(--fourth-color);
        padding: 15px;
        border-radius: 5px 0 0 5px;
    }
}

.differents {
    text-align: center;

    .col {
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 10px;
    }
}

#successMessage {
    text-align: center;
    padding: 40px 20px;
}

#successMessage h3 {
    margin-bottom: 10px;
}

#successMessage p {
    margin: 0;
}

.cards {
    img {
        width: 75px;
    }

    .column {
        background-color: var(--third-color);
        padding: 30px;
        text-align: center;
    }

    p {
        line-height: 1.2;
        color: var(--fourth-color);
        font-size: 24px;
        font-weight: 700;
        font-family: var(--primary-font);
    }

    .row {
        margin-top: -60px;
        padding-block: 0;
    }
}

.intro {
    hr {
        margin-block: 10px 20px;
        width: 100px;
        border: 2px solid var(--secondary-color);
    }
}

header.scrolled {
    background-color: var(--fifth-color);
}

.socialicons {
    background-color: var(--primary-color);
    padding: 15px;
    font-size: 2em;
    border-radius: 100%;
}