@import url(./style.css);

header {
    background-color: var(--fifth-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

    .row {
        padding-block: 15px;
        gap: 15px;
    }

    .logocol {
        margin: auto 0 !important;
        width: fit-content;

        a {
            line-height: 0;
        }
    }

    img {
        width: 150px;
    }

    #on {
        margin: auto 0 !important;
        background-color: var(--fourth-color);
        padding: 12px 13px;
        border-radius: 10px;
        font-size: 22px;
    }

    nav {
        flex: 1;
        margin: auto 0;
    }

    ul {
        display: flex;
        justify-content: end;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            color: var(--fourth-color);
            text-decoration: none;
            border-bottom: 2px solid transparent;
            padding: 2px 5px 5px 5px;
        }
    }

    nav ul li a.active,
    a:hover {
        color: var(--third-color) !important;
        border-color: var(--third-color);
    }

    #off {
        color: var(--fourth-color);
    }
}

form {
    ::placeholder {
        color: #676767;
        font-size: 15px;
    }

    input,
    select,
    textarea {
        line-height: 1em !important;
        background-color: var(--fourth-color);
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cacaca;
        border-radius: 5px;
    }

    label {
        flex: 1;
        font-family: var(--secondary-font);
        font-size: 16px;
        text-align: left;
        font-weight: 400;
    }

    button {
        width: 100%;
    }
}

.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    p {
        color: var(--fourth-color);
        font-size: 19px;
        font-weight: 800;
        letter-spacing: 2px;
    }

    h1, p {
        text-shadow: 0 5px 5px rgba(20, 20, 20, 0.6);
    }
}

.contentonly {
    li {
        line-height: 1.5;
        margin-left: 40px;
    }

    hr {
        margin-block: 10px;
    }
}

footer {
    background-color: var(--fifth-color);

    h4, i {
        color: var(--fourth-color);
    }

    .foot {
        border-top: 1px solid var(--primary-color);
        background-color: var(--fifth-color);
        text-align: center;
        padding-block: 15px;

        p {
            color: #fff;
        }
    }

    img {
        width: 175px;
    }
}

.floatwp {
    position: fixed;
    bottom: 20px;
    right: 20px;

    i {
        box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.3);
        font-size: 35px;
        padding: 5px;
        border-radius: 100%;
        background-color: #01BF01;
        padding: 15px 18px;
        color: var(--fourth-color);
    }
}

.usps {
    text-align: center;
    background-color: rgb(255, 205, 252, 0.25);

    .col {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid var(--primary-color);
    }

    img {
        width: 100px;
        margin-bottom: 15px;
    }
}

.course {
    text-align: center;

    h3 {
        background-color: var(--primary-color);
        padding: 15px;
        border-radius: 10px 10px 0 0;
    }
    
    p {
        border: 2px solid var(--primary-color);
        padding: 15px;
        /* background-color: var(--secondary-color); */
        /* color: var(--fourth-color); */
        line-height: 1.7;
        border-radius: 0 0 10px 10px;
    }

    h2 {
        width: fit-content;
        margin: auto;
        border-bottom: 4px solid var(--secondary-color);
    }
}

.whojoin {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/Hexagon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-block: 1px solid var(--primary-color);

    .column {
        margin: auto 0;
    }
}

.differents {
    text-align: center;

    .col {
        background-color: var(--primary-color);
        padding: 20px;
        border-radius: 10px;
    }
}

#successMessage {
    text-align: center;
    padding: 40px 20px;
}

#successMessage h3 {
    margin-bottom: 10px;
}

#successMessage p {
    margin: 0;
}